<ion-header [translucent]="true" style="background: #000000;">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" size="large" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="display: flex; justify-content: center; align-items: center; height: 100%;">
  
  <ion-card style="width: 90%; max-width: 500px; margin: auto;">
    <ion-card-header>
      <ion-card-title>Detalles del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Nombre de Usuario:</strong> {{ usuario.username }}</p>
      <p><strong>Apellido:</strong> {{ usuario.apellido }}</p>
      <p><strong>Email:</strong> {{ usuario.email }}</p>
      <p><strong>RUT:</strong> {{ usuario.rut }}</p>
      <p><strong>Estado:</strong> {{ usuario.isactive ? 'Activo' : 'Inactivo' }}</p>

 

      <div style="text-align: center; margin-top: 20px;">
        <ion-button 
          (click)="editarPerfil(this.usuario)" expand="full" color="primary" 
          shape="round" style="font-weight: bold; text-transform: uppercase;">Actualizar Perfil
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>


  <div>
    <ion-card>
      <h2 style="text-align: center; font-weight: bold;color: #000000;">Asignaturas</h2>
      <div class="asignaturas-container">
        <ion-card *ngFor="let asignatura of usuario.asignaturas">
          <ion-card-header>
            <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Profesor:</strong> {{ asignatura.profesor.nombre }}</p>
            <p><strong>Email del profesor:</strong> {{ asignatura.profesor.email }}</p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-card>

  </div>

  <div style="text-align: center; margin-top: 20px;">
    <ion-button 
      (click)="cerrarSesion()" expand="full" color="primary" 
      shape="fill"  style="font-weight: bold; text-transform: uppercase;">Cerrar Sesión
    </ion-button>
  </div>

</ion-content>

