
ion-item{
  --background: rgb(26, 25, 25);
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Hace que el contenedor ocupe toda la altura de la pantalla */
}

.center-card {
  width: 90%; /* Ajusta el tamaño del card si es necesario */
  max-width: 500px; /* Limita el ancho del card */
}

ion-list {
    background: #fee2b1; 
  }
  
  ion-item {
    --background: #fefbee; 
  }

h1
{
    color: #050505;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

