<ion-header [translucent]="true" style="background-color: black;">
  <ion-toolbar  >
    <ion-title>DuocUc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    
    <form [formGroup]="loginForm">

      <ion-item>
         <ion-input type="text" placeholder="Nombre de usuario.." 
            label="Nombre de usuario: " labelPlacement="floating"
            formControlName="username">
         </ion-input>
      </ion-item>

      <div id="alerta" *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || 
                loginForm.get('username')?.touched)">
          <div id="alerta" *ngIf="loginForm.get('username')?.hasError('required')">
            *Username es obligatorio
          </div>
          <div id="alerta" *ngIf="loginForm.get('username')?.hasError('minlength')">
            *Username debe tener mínimo 6 caracteres
          </div>
      </div>


      <ion-item>
        <ion-input type="password" placeholder="Password.." 
           label="Contraseña: " labelPlacement="floating"
           formControlName="password">
        </ion-input>
     </ion-item>

     <div id="alerta" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || 
              loginForm.get('password')?.touched)">
        <div id="alerta" *ngIf="loginForm.get('password')?.hasError('required')">
          *Password es obligatoria
        </div>
        <div id="alerta" *ngIf="loginForm.get('password')?.hasError('pattern')">
          *Password debe tener mínimo 8 caracteres
        </div>
     </div>

     <div style="text-align: center; margin-top:20px">
      <ion-button (click)="login()" [disabled]="!loginForm.valid" fill="solid" shape="round" color="primary">
        Iniciar Sesión
      </ion-button>
      <ion-button (click)="Registro()"  fill="clear" shape="round">
        Registrarse
      </ion-button>
    </div>

    </form>

     
    
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>DuocUC</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>


    </ion-buttons>
  </ion-toolbar>
</ion-footer>
